#todo {
	background-image: url("https://www.rafaela.com/cms/files/multimedias/12188_vaca_loca.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
}
.flex-container {
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	align-items: center;
	border: 4px ridge red;
	max-width: 2000px;	
	overflow: auto;
}
img {
	width: 400px;
}
